* {
   
   box-sizing: border-box;
   margin: 0;
   padding: 0;
  }

  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #6d717a;
    color: #fff;
    line-height: 1.8;

   
  }

  a {
    text-decoration: none;
   
  }

  #container {
    margin: 30px auto;
    max-width: 400px;
    padding: 20px;
    
  }

  #container2 {
    margin: 30px auto;
    margin-top: 0;
    max-width: 400px;
    padding: 20px;
  
  }

  .form-wrap {
    background: #fff;
    padding: 15px 20px;
    color: #333;
   
  }

  .form-wrap h1,
  .form-wrap p {
    text-align: center;
 
  }

  .form-wrap .form-group {
    margin-top: 15px;
   
  }

  .form-wrap .form-group label {
    display: block;
    color: #666;

   
  }

  .form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border: #ddd solid;
    border-radius: 5px;

    
  }

  .form-wrap button {
    background: #17544a;
    width: 100%;
    display: block;
    padding: 10px;
    margin-top: 20px;
    color: #fff
   

   
  }

  .form-wrap button:hover {
    background: #37a08e;
  
  }

  .form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 20px;
    /* 
      Bottom text is smaller
    */
  }

  footer {
    text-align: center;
    margin-top: 5%;
    /* 
    Should be centered
   */
  }

  footer a {
    color: #37a08e;
    /* 
      Footer link color is #49c1a2
    */
  }

  .navbar {
    list-style: none;
    margin: 0;
    background: black;
    /* to fix the styling collapse from floating it */
    overflow: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 2%;
  }

.navbar-title {
  display: flex;
  flex-direction: column; /* Stack h1 and p vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center;
}

.navbar li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
.navbar li a:hover {
    background-color: #446190;
    color: #f4f4f4;
}

.navbar ul {
  text-align: center;
}

.navbar h1 {
  margin: 0;
}

p {
  margin: 0;
}

footer {
  list-style: none;
  margin: 0;
  background: #485367;
  /* to fix the styling collapse from floating it */
  overflow: auto;
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0;
  padding-bottom: 0;
}

#signUp {
  text-align: center;
}